
/*reseteo margenes*/
* {
   Margin:0;
   padding:0;
   box-sizing: border-box;
}
@import url(https://fonts.googleapis.com);
@import url(https://fonts.gstatic.com);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);


/*------------------------------------------------------------------------------*/
/*Tamaño letras*/
h1{
   font-family: 'Roboto', sans-serif;
   font-size: 48px; 
   color: #c76ea9;
}

h2{
  font-family: 'Roboto', sans-serif;
  font-size: 16px; 
  color: #c76ea9;
}

h4{
    font-family: 'Roboto', sans-serif;
    font-size: 30px; 
    color: #5529ce; 
}
h5{
  font-family: 'Roboto', sans-serif;
  font-size: 32px; 
  color: #fff; 
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-size: medium;
}

/*----------------------------------------------------------------------------*/

/* Navbar Barra de Navegacion */


.header_Container {
    background: rgba(243, 207, 243, 0.7);
    width: 100%;
    position:fixed;
    display:  flow-root;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    z-index: 3;
     
}

.color-menu-galeria{
  background: rgba(243, 207, 243, 0.7);

}
.contenedor-logo-nav{
   display:flex;
   width: 200px;
   margin-left: 30px;
}

  
.navbar-nav .nav-item .nav-link{
   display: inline-block;
   font-family: 'Roboto', sans-serif;
   font-size: 24px;
   padding: 20px;
   margin: 0 auto;
  /* margin-bottom: 1rem;
*/   color: #856dae;
   }

 .navbar .navbar-nav .nav-item:hover{
  background-color: #dfa0db; /* Cambiar el color de fondo al hacer "hover" */
 
}

.navbar ul.navbar-nav .nav-item a.nav-link:hover{
  color: #fff; /* Cambiar el color de texto al hacer "hover" */
 
}
.dropdown-menu .dropdown-item{
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  padding: 20px;
  margin: 0 auto;
  color: #856dae;

  }
  .dropdown-menu .dropdown-item:hover{
    background-color: #dfa0db; /* Cambiar el color de fondo al hacer "hover" */
    color: #fff; /* Cambiar el color de texto al hacer "hover" */
  }
  
 

/*---------------------------------------------------------------------------*/

/* Footer Barra de Navegacion */

.color-backgroud-footer{
  background : rgba(205, 197, 211, 0.7);
}
 .nav li.nav-item a.nav-link{
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  top: 100%;
  color: #fff;
}
.nav li.nav-item a.nav-link:hover {
    padding: 10px;
    background: #715d8b;
  }


/*logo footer*/

.logo-container-footer {
   flex-grow: 1;

}

 /*Copy ring*/

 .copy-right {
  /* background : rgba(205, 197, 211, 0.7);*/
   display: block;
   text-align: center;
   font-size: 14px;
 }
/*------------------------------------------------------------------------------*/

 /*carrucel home*/

 .imagen-carrucel-home{
   width: auto;
   max-height:  95vh;
   object-fit: cover;
 }
 
/*contenedor de texto*/

.container-text-conocenos{
    background: rgba(243, 207, 243, 0.3);
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    padding: 7rem;
    margin: 0;
    margin-bottom: 0;
    align-content: center center;
    align-items: center;
    flex-direction: row;
}
 
.primer-parrafo-home{
  text-align: justify;
  text-decoration:none;
  margin: 1rem;
  width: 45%;
}

.titulo-primer-parrafo-home{
  text-align:end;
  justify-content: right;
  text-decoration:none;
  margin: 1rem;
  width: 30%;
 }

/*---------------------------------------------------------------------------*/

 /*Imagenes Galeria home*/
 .titulo-galeria-home{
  display: flex;
  text-align:left;
  text-decoration:none;
  margin: 1rem;
  font-size: 48px;
 }

 .container-principal-galeria-home{
  display: grid;
  min-height: 100vh; /* viewport height */
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr ;
  grid-template-areas: 
  "boda boda baby baby"
  "boda boda cumpleaños cumpleaños"
  "bautizo bautizo cumpleaños cumpleaños";
  gap: 1rem;
  margin-bottom: 1rem;
  margin: 2rem 2rem 2rem 2rem;
}

.boda{
  grid-area: boda;
  flex-grow: 1;
  width: 100%; 
  height: 100%;
  object-fit: cover;
}

.bautizo{
  grid-area: bautizo;
  flex-grow: 1;
  width: 100%; 
  height: 100%;
  object-fit: cover;
}

.cumpleaños{
  grid-area: cumpleaños;
  flex-grow: 1;
  width: 100%; 
  height: 100%;
  object-fit: cover;
}

.baby{
  grid-area: baby;
  flex-grow: 1;
  width: 100%; 
  height: 100%;
  object-fit: cover;
}

/*---------------------------------------------------------------------------*/
/*galeria*/

.titulo-galeria{
  text-align:center;
  text-decoration:none;
  font-size: 150%;
  margin-top: 5rem;
 }

 .container-galeria{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction:row;
  justify-content:space-evenly;
  margin:  auto;
  padding:10px;
  position:relative;
}

.container-galeria-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  justify-content: flex-start;

}

.container-galeria-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  justify-content: flex-end;
}


.big-photos-container {
  display: flex;
  flex-grow: 1;
}

.left-align {
  justify-content: flex-start;
}

.right-align {
  justify-content: flex-end;
}

.big-photos-container img {
  Width:584.09px;
  Height:691.01px;
  top:auto;
  margin-bottom: 8px;
  object-fit: cover;
}

.small-photos-container {
  display: flex;
  flex-shrink: 1;
  flex-basis: 50%;
  justify-content: space-between;
}

.small-photos-container img {
  Width:584.09px;
  Height:326.31px;
  top:auto;
  margin-bottom: 8px;
  object-fit: cover;
}
/*-------------------------------------------------------------------------*/
/*servicios*/
.titulo-servicio{
  text-align:center;
  text-decoration:none;
  font-size: 150%;
  margin-top: 5rem;
  padding: 2rem;
 }

 .titulo-producto{
  text-align:center;
  text-decoration:none;
  font-size: 150%;
  padding: 2rem;
  margin-top: -1rem;
 }

.container-servicios{
 display: flex;
 align-items: stretch;
 align-content: center center;
 flex-wrap: wrap;
 flex-direction:column;
 justify-content:space-evenly;
 margin:  auto;
 padding:10px;
 width: 90%;
 position:relative;
}

.Cards-Servicios{
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;

}
.card-fotografos{
  flex-direction: column;
  align-items: center center;
  border: 1px solid #f2edf8;
  border-radius: 15px;
  justify-content: center;
  margin-bottom:  3rem;
  padding-bottom: 3rem;
  background-color: rgba(255, 255, 255, 0.836);
  width: 100% ;
  align-content: center;
}

.card-fotografos h2 {
  text-align: center;
}
.card-fotografos img{
  width: 100%;
  margin-bottom:  auto;
  padding: 1rem;
  border-radius: 2rem;
  
}

.card-fotografos p{
  text-align:center;
  align-items: center center;
  margin: 1rem 2rem; ;
  
}

.btn {
  display: flex;
  padding: 10px;
  background-color: #715d8b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  width: 90%;
  align-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
}

.btn:hover {
  color: #c76ea9;
  text-decoration:none;
}
.btn:hover {
  color: #c76ea9;
  text-decoration:none;
  border:0;
}

/*-------------------------------------------------------------------------*/
/*Sobre Nosotros*/

.container-text-nosotros{
  display: flex;
  justify-content:space-between;
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
  padding: 20px;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  margin-bottom:0;
  margin-top: 5rem;
  width: 90%;
}

.primer-parrafo-nosotros{
  text-align: justify;
  text-decoration:none;
  margin-left: 3rem;

}

.titulo-primer-parrafo-nosotros{
  text-align:left;
  text-decoration:none;
  font-size: 100%;
  margin: 3rem auto;
}

.container-segundo-text-nosotros{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content:center center;
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
  padding: 20px;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  margin-bottom:0;
  width: 90%;
}


.segundo-parrafo-nosotros{
  text-align: justify;
  text-decoration:none;
  margin-left: 3rem;
}

.titulo-segundo-parrafo-nosotros{
  text-align:center;
  text-decoration:none;
  font-size: 100%;
  margin: 3rem auto;
}

.container-perfiles{
 display: flex;
 align-items: center;
 align-content: center center;
 flex-wrap: rapw;
 flex-direction:column-reverse;
 justify-content:space-evenly;
 margin-left: 5rem;
 margin-right: 5rem;
 padding:2rem;
 position:relative;
}

.Cards-perfiles{
  display: flex;
  align-items: center;
  width: 90%;
  align-content: center;
  padding: 1rem;
  margin: auto;
  flex-direction: row;
}


.card-perfil{
  display: flex;
  align-items: center;
  border: 1px solid #f2edf8;
  border-radius: 15px;
  justify-content: center;
  padding-bottom: 3rem;
  background-color: rgba(255, 255, 255, 0.836);
  width: 90%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  padding: 1rem;
  margin: 2rem;
}

.card-perfil h2 {
  text-align: center;
}

.card-perfil h3 {
  text-align: center;
}
.card-perfil-img{
  width: 140px;
  height: 140px; ;
  object-fit: cover;
  border-radius: 50%;
  text-align:center;
  align-items: center center;
  justify-content: center;
  
}

.card-perfil p{
  text-align:center;
  align-items: center center;
  margin: 1rem 2rem; ;
  
}

.social-icons-perfil {
  display:flex;
  text-align:center;
  align-items: center center;
  justify-content: center;
  
}

.social-icon-perfil-img {
  margin-right:  8px; /* Separacion de los iconos social media */

}

.social-icon-perfil-img:hover{
  padding:2px;
  background: #715d8b;
  border-radius: 90%;

}


 /*-------------------------------------------------------------------------*/

 /*contacto*/

 .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: url("../img/contacto/fotograf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.container-principal-fomulario{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
  padding:2rem;
}
 
 .container-formulario {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  border: 1px solid #b2a3c5;
  border-radius: 15px;
  justify-content: center;
  position:relative;
  width: 50%;
  margin: auto;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.836);
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}


label {
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 0;
  font-size: small;
}

input, select
 {
  padding: 10px;
  margin-bottom: 1rem;
  border:0.5px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

textarea{
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.form-control:hover {
  background-color: white;
  color: black;
  border-color: #715d8b;
}
.form-control:focus {
  box-shadow: 0 0 0 .10rem #715d8b;
}

select:hover {
  background-color: white;
  color: black;
  border-color: #715d8b;
}

select:focus{
  box-shadow: 0 0 0 .10rem #715d8b;
  border-color: #715d8b;
}


button[type="submit"] {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #715d8b;
  color: white;
  border:0;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}
  
button[type="submit"]:hover {
  background-color: #3b0c79;
  }

  /**********************************************/
  /*Parrafo home*/
  @media (min-width: 0px) and (max-width: 991.98px) { 
    .container-text-conocenos{
    background: rgba(243, 207, 243, 0.3);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-family: 'Roboto', sans-serif;
    padding: 4rem;
    margin: 0 auto;
    margin-bottom: 0;
    align-content: stretch;
    flex-direction: column;
    align-items: baseline;
   } 
   .primer-parrafo-home {
    text-align: justify;
    text-decoration: none;
    margin: 1rem 1rem 1rem 1rem;
    width: 80%;
  }
  .titulo-primer-parrafo-home{
  text-align:start;
  justify-content: right;
  text-decoration:none;
  margin: 1rem 1rem 1rem 1rem;
  font-size: 40%;
  width: 30%;
  }
  }

  /*Parrafo galeria Home*/

  @media (min-width: 0px) and (max-width: 991.98px) { 
  
 .container-principal-galeria-home{
  display: grid;
  min-height: 100vh; /* viewport height */
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr ;
  grid-template-areas: 
  "baby baby baby baby"
  "boda boda boda boda"
  "boda boda boda boda"
  "bautizo bautizo bautizo bautizo"
  "cumpleaños cumpleaños cumpleaños cumpleaños"
  "cumpleaños cumpleaños cumpleaños cumpleaños";
  gap: 1rem;
  margin-bottom: 1rem;
  margin: 1rem 1rem 1rem 1rem;
}

}
  
@media (min-width: 0px) and (max-width: 991.98px) {
.container-formulario {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    border: 1px solid #b2a3c5;
    border-radius: 15px;
    justify-content: center;
    position: relative;
    width: 90%;
    margin: auto;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.836);
}
h1{
   font-family: 'Roboto', sans-serif;
   font-size: 90%; 
   color: #c76ea9;
}
p{
  font-family: 'Roboto', sans-serif;
   font-size: 90%; 
}
}
/*card de servicios*/
@media (min-width: 0px) and (max-width:1000px) {
  .Cards-Servicios {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.btn:hover {
  color: #c76ea9;
  text-decoration:none;
}
.btn:hover {
  color: #c76ea9;
  text-decoration:none;
  border:0;
}

} 
