@import url(https://fonts.googleapis.com);
@import url(https://fonts.gstatic.com);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
* {
  Margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-moz-selection {
  background-color: #c76ea9;
  color: #fff;
}
*::selection {
  background-color: #c76ea9;
  color: #fff;
}

html {
  color: light;
  scroll-behavior: smooth;
}

html,
body {
  overflow-y: auto;
  overflow-x: hidden;
}

boby {
  position: relative;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.75;
  font-family: "Roboto", sans-serif;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-top: 0;
}

h1 {
  margin: 32px 0;
  font-size: 48px;
  color: #c76ea9;
}

h2 {
  margin: 32px 0;
  font-size: 36px;
  color: #c76ea9;
}

h3 {
  margin: 24px 0;
  font-size: 30px;
  color: #5529ce;
}

h4 {
  margin: 20px 0;
  font-size: 24px;
  color: #5529ce;
}

h5 {
  margin: 18px 0;
  font-size: 20px;
  color: #fff;
}

h6 {
  margin: 18px 0;
  font-size: 16px;
  color: #c76ea9;
}

p {
  margin: 16px 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  color: #64748b;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-top: 0;
}

.header_container {
  background: rgba(243, 207, 243, 0.7);
  width: 100%;
  position: fixed;
  display: flow-root;
  z-index: 3;
}

header .contenedor-logo-nav {
  display: flex;
  width: 200px;
  margin-left: 3rem;
}
header .navbar .navbar-nav .nav-item {
  transition-property: background-color, border-radius, margin;
  transition-duration: 0.5s;
}
header .navbar .navbar-nav .nav-item:hover {
  background-color: #dfa0db;
  border-radius: 1rem;
  margin: 0 1rem;
}
header .navbar .navbar-nav .nav-item .nav-link {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  padding: 2rem;
  margin: 0 auto;
  color: #856dae;
}
header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #fff;
}
header .navbar .navbar-nav .nav-item .color-menu-galeria {
  background: rgba(243, 207, 243, 0.7);
}
header .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  padding: 2rem;
  margin: 0 auto;
  color: #856dae;
}
header .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #dfa0db;
  color: #fff;
}

.color-backgroud-footer {
  background: rgb(205, 197, 211);
}

footer .logo-container-footer {
  flex-grow: 1;
}
footer .nav .nav-item .nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #fff;
  transition-property: background-color, padding, border-radius;
  transition-duration: 0.3s;
}
footer .nav .nav-item .nav-link:hover {
  padding: 0.5rem 1rem;
  background: #715d8b;
  border-radius: 1rem;
}
footer .copy-right {
  display: block;
  font-size: 14px;
  color: #64748b;
}

.imagen-carrucel-home {
  width: auto;
  max-height: 95vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-text-conocenos {
  background: rgba(243, 207, 243, 0.7);
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  padding: 7rem;
  margin: 0;
  margin-bottom: 0;
  align-items: center;
  flex-direction: row;
}
.container-text-conocenos .titulo-primer-parrafo-home {
  text-align: start;
  justify-content: right;
  text-decoration: none;
  margin: 1rem;
  width: 18%;
}
.container-text-conocenos .titulo-primer-parrafo-home h3, .container-text-conocenos .titulo-primer-parrafo-home h2 {
  margin-bottom: 0;
}
.container-text-conocenos .primer-parrafo-home {
  text-align: justify;
  text-decoration: none;
  margin: 1rem;
  width: 45%;
}

.titulo-galeria-home {
  display: flex;
  text-align: left;
  text-decoration: none;
  margin: 1rem;
  font-size: 48px;
}

.container-principal-galeria-home {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "boda boda baby baby" "boda boda cumpleanos cumpleanos" "bautizo bautizo cumpleanos cumpleanos";
  margin-bottom: 1rem;
  gap: 1rem;
  margin: 2rem;
  transition-property: gap;
  transition-duration: 0.8s;
}
.container-principal-galeria-home:hover {
  gap: 2rem;
}
.container-principal-galeria-home .boda {
  grid-area: boda;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition-property: transform;
  transition-duration: 0.8s;
}
.container-principal-galeria-home .boda:hover {
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.03);
}
.container-principal-galeria-home .baby {
  grid-area: baby;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition-property: transform;
  transition-duration: 0.8s;
}
.container-principal-galeria-home .baby:hover {
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.03);
}
.container-principal-galeria-home .bautizo {
  grid-area: bautizo;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition-property: transform;
  transition-duration: 0.8s;
}
.container-principal-galeria-home .bautizo:hover {
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.03);
}
.container-principal-galeria-home .cumpleanos {
  grid-area: cumpleanos;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition-property: transform;
  transition-duration: 0.8s;
}
.container-principal-galeria-home .cumpleanos:hover {
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.03);
}

.titulo-galeria {
  display: flex;
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-size: 150%;
  width: 100%;
  padding-top: 4rem;
  position: relative;
  flex-direction: column;
}

.container-galeria {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  grid-template-areas: "foto1 foto2 foto3" "foto4 foto2 foto6" "foto4 foto5 foto6" "foto7 foto5 foto8";
  margin-bottom: 1rem;
  gap: 1rem;
  margin: 2rem 2rem 2rem 2rem;
}
.container-galeria .foto1 {
  grid-area: foto1;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-galeria .foto1 .my-img {
  cursor: pointer;
  transition: 0.3s;
}
.container-galeria .foto1 .my-img:hover {
  opacity: 0.7;
}
.container-galeria .foto2 {
  grid-area: foto2;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-galeria .foto2 .my-img {
  cursor: pointer;
  transition: 0.3s;
}
.container-galeria .foto2 .my-img:hover {
  opacity: 0.7;
}
.container-galeria .foto3 {
  grid-area: foto3;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-galeria .foto3 .my-img {
  cursor: pointer;
  transition: 0.3s;
}
.container-galeria .foto3 .my-img:hover {
  opacity: 0.7;
}
.container-galeria .foto4 {
  grid-area: foto4;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-galeria .foto4 .my-img {
  cursor: pointer;
  transition: 0.3s;
}
.container-galeria .foto4 .my-img:hover {
  opacity: 0.7;
}
.container-galeria .foto5 {
  grid-area: foto5;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-galeria .foto5 .my-img {
  cursor: pointer;
  transition: 0.3s;
}
.container-galeria .foto5 .my-img:hover {
  opacity: 0.7;
}
.container-galeria .foto6 {
  grid-area: foto6;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-galeria .foto6 .my-img {
  cursor: pointer;
  transition: 0.3s;
}
.container-galeria .foto6 .my-img:hover {
  opacity: 0.7;
}
.container-galeria .foto7 {
  grid-area: foto7;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-galeria .foto7 .my-img {
  cursor: pointer;
  transition: 0.3s;
}
.container-galeria .foto7 .my-img:hover {
  opacity: 0.7;
}
.container-galeria .foto8 {
  grid-area: foto8;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-galeria .foto8 .my-img {
  cursor: pointer;
  transition: 0.3s;
}
.container-galeria .foto8 .my-img:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.animacion-modal, .modal #caption, .modal .modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.hover-focus, .close:focus, .close:hover {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 10rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(219, 163, 221);
  background-color: rgb(219, 163, 221), 0.9;
}
.modal .modal-content {
  margin: auto;
  display: block;
  width: 80%;
}
.modal #caption {
  margin: auto;
  display: block;
  width: 80%;
  text-align: center;
  color: #fff;
  padding: 1rem 0;
  height: 130%;
}

.close {
  position: absolute;
  top: 3rem;
  right: 7rem;
  padding: 2rem;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  transition: 0.3s;
}
/* Add Animation */
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.titulos, .container-servicios .titulo-producto, .container-servicios .titulo-servicio {
  text-align: center;
  text-decoration: none;
  font-size: 150%;
}

.scale-in-top, .container-servicios .cards-servicios .card-fotografos:nth-child(6), .container-servicios .cards-servicios .card-fotografos:nth-child(5), .container-servicios .cards-servicios .card-fotografos:nth-child(4), .container-servicios .cards-servicios .card-fotografos:nth-child(3), .container-servicios .cards-servicios .card-fotografos:nth-child(2), .container-servicios .cards-servicios .card-fotografos:nth-child(1) {
  animation: scale-in-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.container-servicios {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  padding: 1rem;
  width: 90%;
  position: relative;
}
.container-servicios .titulo-servicio {
  margin-top: 5rem;
  padding: 2rem;
}
.container-servicios .titulo-producto {
  padding: 2rem;
  margin-top: -1rem;
}
.container-servicios .cards-servicios {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
}
.container-servicios .cards-servicios .card-fotografos {
  display: flex;
  flex-direction: column;
  align-items: center center;
  border: 1px solid #f2edf8;
  border-radius: 15px;
  justify-content: center center;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  background-color: rgba(255, 255, 255, 0.836);
  width: 100%;
  align-content: center;
}
.container-servicios .cards-servicios .card-fotografos h6 {
  text-align: center;
  margin-bottom: 0;
}
.container-servicios .cards-servicios .card-fotografos img {
  width: 100%;
  margin-bottom: auto;
  padding: 1rem;
  border-radius: 2rem;
}
.container-servicios .cards-servicios .card-fotografos p {
  text-align: justify;
  align-items: center center;
  margin: 1rem 1rem;
  padding: auto;
  width: 90%;
}
.container-servicios .cards-servicios .card-fotografos a {
  text-align: center;
  align-items: center center;
  margin: auto;
}
.container-servicios .cards-servicios .card-fotografos .btn {
  padding: 1rem;
  background-color: #715d8b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  width: 80%;
  margin: 2rem;
}
.container-servicios .cards-servicios .card-fotografos .btn:hover {
  background-color: #fff;
  color: #c76ea9;
  text-decoration: none;
  border: 0;
}
@keyframes scale-in-top {
  10% {
    transform: scale(0);
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 0%;
    opacity: 1;
  }
}
.container-text-nosotros {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 0;
  padding: 1rem;
  width: 70%;
  min-height: 30vh;
  padding-top: 8rem;
  flex-direction: column;
}
.container-text-nosotros .primer-parrafo-nosotros {
  text-align: justify;
  text-decoration: none;
  padding: 1rem;
  width: 100%;
}

.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

button.accordion-button {
  background-color: #f7ddf7;
  font-size: 1.75rem;
}

button.panelsStayOpen-collapseOne {
  background-color: #c76ea9;
}

.accordion {
  --bs-accordion-active-bg: #c76ea9;
  --bs-accordion-btn-color: #c76ea9;
  --bs-accordion-active-color: #fff;
  --bs-accordion-btn-focus-border-color: #c76ea9;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(230, 58, 221, 0.25);
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-item {
  color: #64748b;
}

.container-segundo-text-nosotros {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  padding: 2rem;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}
.container-segundo-text-nosotros .segundo-parrafo-nosotros {
  text-align: justify;
  text-decoration: none;
  padding: 1rem;
  margin: auto;
  width: 80%;
}

.container-perfiles {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  position: relative;
  margin: auto;
}
.container-perfiles .cards-perfiles {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin: auto;
  flex-direction: row;
}
.container-perfiles .cards-perfiles .card-perfil {
  flex: 1;
  display: flex;
  align-items: center;
  border: 1px solid #f2edf8;
  border-radius: 15px;
  justify-content: stretch;
  background-color: rgba(255, 255, 255, 0.836);
  flex-direction: column;
  padding: 2rem;
  margin: 2rem;
  width: 100%;
}
.container-perfiles .cards-perfiles .card-perfil h6 {
  text-align: center;
  margin-bottom: 0;
}
.container-perfiles .cards-perfiles .card-perfil h4 {
  text-align: center;
  margin-bottom: 0;
}
.container-perfiles .cards-perfiles .card-perfil p {
  text-align: center;
  align-items: center center;
  width: 100%;
  margin: auto;
}
.container-perfiles .cards-perfiles .card-perfil .card-perfil-img {
  width: 140px;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  text-align: center;
  align-items: center center;
  justify-content: center;
}
.container-perfiles .cards-perfiles .card-perfil .social-icons-perfil {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 1.25rem;
}
.container-perfiles .cards-perfiles .card-perfil .social-icon-perfil-img {
  margin-right: 8px;
  transition-property: border-radius, padding, background-color;
  transition-duration: 0.8s;
}
.container-perfiles .cards-perfiles .card-perfil .social-icon-perfil-img:hover {
  padding: 2px;
  background: #715d8b;
  border-radius: 90%;
}

.background-image {
  position: absolute;
  width: 50%;
  height: 150%;
  background-image: url("../img/contacto/fotograf.jpg");
  background-repeat: no-repeat;
  background-size: 100% 120%;
  margin: auto;
  margin-bottom: 0%;
  z-index: -3;
}

.border-inputs-form, .container-principal-fomulario .container-formulario form textarea, .container-principal-fomulario .container-formulario form select, .container-principal-fomulario .container-formulario form input {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 0.5px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.container-principal-fomulario {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
  padding: 2rem;
  padding-top: 11rem;
  padding-bottom: 4rem;
}
.container-principal-fomulario .container-formulario {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  border: 1px solid rgb(205, 197, 211);
  border-radius: 15px;
  justify-content: center;
  position: relative;
  width: 50%;
  margin: auto;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.836);
}
.container-principal-fomulario .container-formulario form {
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
}
.container-principal-fomulario .container-formulario form label {
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 0;
  font-size: small;
}
.container-principal-fomulario .container-formulario form input:hover {
  background-color: #fff;
  color: rgb(205, 197, 211);
  border-color: #715d8b;
}
.container-principal-fomulario .container-formulario form input:focus {
  box-shadow: 0 0 0 0.1rem #715d8b;
  border-color: #715d8b;
}
.container-principal-fomulario .container-formulario form select:hover {
  background-color: #fff;
  color: rgb(205, 197, 211);
  border-color: #715d8b;
}
.container-principal-fomulario .container-formulario form select:focus {
  box-shadow: 0 0 0 0.1rem #715d8b;
  border-color: #715d8b;
}
.container-principal-fomulario .container-formulario form textarea:hover {
  background-color: #fff;
  color: rgb(205, 197, 211);
  border-color: #715d8b;
}
.container-principal-fomulario .container-formulario form textarea:focus {
  box-shadow: 0 0 0 0.1rem #715d8b;
  border-color: #715d8b;
}

.form-control:hover {
  background-color: #fff;
  color: black;
  border-color: #715d8b;
}
.form-control:hover:focus {
  box-shadow: 0 0 0 0.1rem #715d8b;
}

button[type=submit] {
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: #715d8b;
  color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  width: 100%;
  transition-property: background-color;
  transition-duration: 0.5s;
}
button[type=submit]:hover {
  background-color: #c76ea9;
}/*# sourceMappingURL=style2.css.map */