@import url(https://fonts.googleapis.com);
@import url(https://fonts.gstatic.com);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
* {
  Margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-moz-selection {
  background-color: #c76ea9;
  color: #fff;
}
*::selection {
  background-color: #c76ea9;
  color: #fff;
}

html {
  color: light;
  scroll-behavior: smooth;
}

html,
body {
  overflow-y: auto;
  overflow-x: hidden;
}

boby {
  position: relative;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.75;
  font-family: "Roboto", sans-serif;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-top: 0;
}

h1 {
  margin: 32px 0;
  font-size: 48px;
  color: #c76ea9;
}

h2 {
  margin: 32px 0;
  font-size: 36px;
  color: #c76ea9;
}

h3 {
  margin: 24px 0;
  font-size: 30px;
  color: #5529ce;
}

h4 {
  margin: 20px 0;
  font-size: 24px;
  color: #5529ce;
}

h5 {
  margin: 18px 0;
  font-size: 20px;
  color: #fff;
}

h6 {
  margin: 18px 0;
  font-size: 16px;
  color: #fff;
}

p {
  margin: 16px 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  color: #64748b;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-top: 0;
}

.header_container {
  background: rgba(243, 207, 243, 0.7);
  width: 100%;
  position: fixed;
  display: flow-root;
  z-index: 3;
}

header .contenedor-logo-nav {
  display: flex;
  width: 200px;
  margin-left: 3rem;
}
header .navbar .navbar-nav .nav-item {
  transition-property: background-color, border-radius, margin;
  transition-duration: 0.5s;
}
header .navbar .navbar-nav .nav-item:hover {
  background-color: #dfa0db;
  border-radius: 1rem;
  margin: 0 1rem;
}
header .navbar .navbar-nav .nav-item .nav-link {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  padding: 2rem;
  margin: 0 auto;
  color: #856dae;
}
header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #fff;
}
header .navbar .navbar-nav .nav-item .color-menu-galeria {
  background: rgba(243, 207, 243, 0.7);
}
header .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  padding: 2rem;
  margin: 0 auto;
  color: #856dae;
}
header .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #dfa0db;
  color: #fff;
}

.color-backgroud-footer {
  background: rgb(205, 197, 211);
}

footer .logo-container-footer {
  flex-grow: 1;
}
footer .nav .nav-item .nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #fff;
  transition-property: background-color, padding, border-radius;
  transition-duration: 0.3s;
}
footer .nav .nav-item .nav-link:hover {
  padding: 0.5rem 1rem;
  background: #715d8b;
  border-radius: 1rem;
}
footer .copy-right {
  display: block;
  font-size: 14px;
}

.imagen-carrucel-home {
  width: auto;
  max-height: 95vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-text-conocenos {
  background: rgba(243, 207, 243, 0.7);
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  padding: 7rem;
  margin: 0;
  margin-bottom: 0;
  align-items: center;
  flex-direction: row;
}
.container-text-conocenos .titulo-primer-parrafo-home {
  text-align: start;
  justify-content: right;
  text-decoration: none;
  margin: 1rem;
  width: 18%;
}
.container-text-conocenos .titulo-primer-parrafo-home h3, .container-text-conocenos .titulo-primer-parrafo-home h2 {
  margin-bottom: 0;
}
.container-text-conocenos .primer-parrafo-home {
  text-align: justify;
  text-decoration: none;
  margin: 1rem;
  width: 45%;
}

.titulo-galeria-home {
  display: flex;
  text-align: left;
  text-decoration: none;
  margin: 1rem;
  font-size: 48px;
}

.container-principal-galeria-home {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "boda boda baby baby" "boda boda cumpleanos cumpleanos" "bautizo bautizo cumpleanos cumpleanos";
  margin-bottom: 1rem;
  gap: 1rem;
  margin: 2rem;
  transition-property: gap;
  transition-duration: 0.8s;
}
.container-principal-galeria-home:hover {
  gap: 2rem;
}
.container-principal-galeria-home .boda {
  grid-area: boda;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition-property: transform;
  transition-duration: 0.8s;
}
.container-principal-galeria-home .boda:hover {
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.03);
}
.container-principal-galeria-home .baby {
  grid-area: baby;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition-property: transform;
  transition-duration: 0.8s;
}
.container-principal-galeria-home .baby:hover {
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.03);
}
.container-principal-galeria-home .bautizo {
  grid-area: bautizo;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition-property: transform;
  transition-duration: 0.8s;
}
.container-principal-galeria-home .bautizo:hover {
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.03);
}
.container-principal-galeria-home .cumpleanos {
  grid-area: cumpleanos;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition-property: transform;
  transition-duration: 0.8s;
}
.container-principal-galeria-home .cumpleanos:hover {
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.03);
}

.titulo-galeria {
  display: flex;
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-size: 150%;
  width: 100%;
  padding-top: 4rem;
  position: relative;
  flex-direction: column;
}

.container-galeria {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  grid-template-areas: "foto1 foto2 foto3" "foto4 foto2 foto6" "foto4 foto5 foto6" "foto7 foto5 foto8";
  margin-bottom: 1rem;
  gap: 1rem;
  margin: 2rem 2rem 2rem 2rem;
}
.container-galeria .foto1 {
  grid-area: foto1;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-galeria .foto1 .my-img {
  cursor: pointer;
  transition: 0.3s;
}
.container-galeria .foto1 .my-img:hover {
  opacity: 0.7;
}
.container-galeria .foto2 {
  grid-area: foto2;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-galeria .foto2 .my-img {
  cursor: pointer;
  transition: 0.3s;
}
.container-galeria .foto2 .my-img:hover {
  opacity: 0.7;
}
.container-galeria .foto3 {
  grid-area: foto3;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-galeria .foto3 .my-img {
  cursor: pointer;
  transition: 0.3s;
}
.container-galeria .foto3 .my-img:hover {
  opacity: 0.7;
}
.container-galeria .foto4 {
  grid-area: foto4;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-galeria .foto4 .my-img {
  cursor: pointer;
  transition: 0.3s;
}
.container-galeria .foto4 .my-img:hover {
  opacity: 0.7;
}
.container-galeria .foto5 {
  grid-area: foto5;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-galeria .foto5 .my-img {
  cursor: pointer;
  transition: 0.3s;
}
.container-galeria .foto5 .my-img:hover {
  opacity: 0.7;
}
.container-galeria .foto6 {
  grid-area: foto6;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-galeria .foto6 .my-img {
  cursor: pointer;
  transition: 0.3s;
}
.container-galeria .foto6 .my-img:hover {
  opacity: 0.7;
}
.container-galeria .foto7 {
  grid-area: foto7;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-galeria .foto7 .my-img {
  cursor: pointer;
  transition: 0.3s;
}
.container-galeria .foto7 .my-img:hover {
  opacity: 0.7;
}
.container-galeria .foto8 {
  grid-area: foto8;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-galeria .foto8 .my-img {
  cursor: pointer;
  transition: 0.3s;
}
.container-galeria .foto8 .my-img:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.animacion-modal, .modal #caption, .modal .modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.hover-focus, .close:focus, .close:hover {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 10rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(219, 163, 221);
  background-color: rgb(219, 163, 221), 0.9;
}
.modal .modal-content {
  margin: auto;
  display: block;
  width: 80%;
}
.modal #caption {
  margin: auto;
  display: block;
  width: 80%;
  text-align: center;
  color: #fff;
  padding: 1rem 0;
  height: 130%;
}

.close {
  position: absolute;
  top: 3rem;
  right: 7rem;
  padding: 2rem;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  transition: 0.3s;
}
/* Add Animation */
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}/*# sourceMappingURL=style2.css.map */