h1 {
    font-family: $font-familia-roboto;
    font-size: 48px;
    color: $color-rosa-ligero-primario;
  }
  
  h2 {
    font-family: $font-familia-roboto;
    font-size: 16px;
    color: $color-rosa-ligero-primario;
  }
  
  h4 {
    font-family: $font-familia-roboto;
    font-size: 30px;
    color: $color-violeta-brillante-secundario;
  }
  
  h5 {
    font-family: $font-familia-roboto;
    font-size: 32px;
    color:$color-blanco;
  }
  
  p {
    font-family: $font-familia-roboto;
    font-size: 14px;
    font-size: medium;
  }
  