h1 {
    font-family: $fontsroboto;
    font-size: 48px;
    color: $color_rosa_ligero;
  }
  
  h2 {
    font-family: $fontsroboto;
    font-size: 16px;
    color: $color_rosa_ligero;
  }
  
  h4 {
    font-family: $fontsroboto;
    font-size: 30px;
    color: $color_violeta_brillante;
  }
  
  h5 {
    font-family: $fontsroboto;
    font-size: 32px;
    color:$color_blanco;
  }
  
  p {
    font-family: $fontsroboto;
    font-size: 14px;
    font-size: medium;
  }
  