.color-backgroud-footer {
    background: $color-violeta-palido;
}

footer {
    .logo-container-footer {
        flex-grow: 1;

    }

    .nav {
        .nav-item {

            .nav-link {
                font-family: $font-familia-roboto;
                font-size: 20px;
                color: $color-blanco;
                transition-property: background-color, padding, border-radius;
                transition-duration: 0.3s;

                &:hover {
                    padding: 0.5rem 1rem;
                    background: $color-violeta-pastel;
                    border-radius: 1rem;
                }

            }
        }
    }

    .copy-right {
        display: block;
        font-size: 14px;
        color:$color-font-negro;
    }

}