.background-image {
    position: absolute;
    width: 50%;
    height: 150%;
    background-image: url("../img/contacto/fotograf.jpg");
    background-repeat: no-repeat;
    background-size: 100% 120%;
    margin: auto;
    margin-bottom: 0%;
    z-index: -3;
}

.border-inputs-form {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 0.5px solid $color-borde-form;
    border-radius: 4px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.container-principal-fomulario {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto;
    padding: 2rem;
    padding-top: 11rem;
    padding-bottom: 4rem;

    .container-formulario {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        border: 1px solid $color-violeta-palido;
        border-radius: 15px;
        justify-content: center;
        position: relative;
        width: 50%;
        margin: auto;
        padding: 2rem;
        background-color: $color-background-card;

        form {
            justify-content: center;
            border-radius: 4px;
            margin-bottom: 1rem;
            font-family: 'Roboto', sans-serif;

            label {
                margin-bottom: 1rem;
                font-family: 'Roboto', sans-serif;
                font-weight: 0;
                font-size: small;
            }

            input {
                @extend .border-inputs-form;
                &:hover {
                    background-color:$color-blanco;
                    color:$color-violeta-palido;
                    border-color: $color-violeta-pastel;
                }

                &:focus {
                    box-shadow: 0 0 0 .10rem $color-violeta-pastel;
                    border-color: $color-violeta-pastel;
                }
            }

            select {
                @extend .border-inputs-form;

                &:hover {
                    background-color: $color-blanco;
                    color: $color-violeta-palido;
                    border-color: $color-violeta-pastel;
                }

                &:focus {
                    box-shadow: 0 0 0 .10rem $color-violeta-pastel;
                    border-color: $color-violeta-pastel;
                }
            }

            textarea {
                @extend .border-inputs-form;
                &:hover {
                    background-color: $color-blanco;
                    color: $color-violeta-palido;
                    border-color: $color-violeta-pastel;
                }

                &:focus {
                    box-shadow: 0 0 0 .10rem $color-violeta-pastel;
                    border-color: $color-violeta-pastel;
                }
            }
            button {
                padding: 1rem;
                border: unset;
                border-radius: 4px;
                color:$color-blanco;
                z-index: 1;
                background:  $color-violeta-pastel;
                position: relative;
                cursor: pointer;
                font-weight: 500;
                -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
                box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
                transition: all 250ms;
                overflow: hidden;
                width: 100%;
               }
               
               button::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 0;
                border-radius: 4px;
                background-color:$color-rosa-ligero-primario;;
                z-index: -1;
                -webkit-box-shadow: 4px 8px 19px -3px $color-rosa-ligero-primario;
                box-shadow: 4px 8px 19px -3px $color-rosa-ligero-primario;
                transition: all 250ms
               }
               
               button:hover {
                color:$color-blanco;
               }
               
               button:hover::before {
                width: 100%;
               }
          

        }

    }
   
    
.form-control:hover {
    background-color:$color-blanco;
    color: black;
    border-color:$color-violeta-pastel;
    &:focus{
        box-shadow: 0 0 0 .10rem $color-violeta-pastel;
    }
     
  }  

}

   
