

  .container-segundo-text-nosotros {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    padding: 2rem;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    
    .titulo-segundo-parrafo-nosotros {
      text-align: center;
      text-decoration: none;
      font-size: 100%;
      padding: 1rem;
      margin: auto;
    }

    .segundo-parrafo-nosotros {
        text-align: justify;
        text-decoration: none;
        padding: 1rem;
        margin: auto;
        width: 80%;
      }
  }