.container-text-conocenos {
    background: $color-rosa-palido;
    display: flex;
    justify-content: center;
    font-family:$font-familia-roboto;
    padding: 7rem;
    margin: 0;
    margin-bottom: 0;
    align-items: center;
    flex-direction: row;

    
.titulo-primer-parrafo-home {
    text-align:start;
    justify-content: right;
    text-decoration: none;
    margin: 1rem;
    
    h3,h2{
      margin-bottom:0;
    }
  }
  
    .primer-parrafo-home {
        text-align: justify;
        text-decoration: none;
        margin: 1rem;
        padding: 1.25rem;
       

      }

  }