.container-text-conocenos {
    background: $color-rosa-palido;
    display: flex;
    justify-content: center;
    font-family:$font-familia-roboto;
    padding: 7rem;
    margin: 0;
    margin-bottom: 0;
    align-items: center;
    flex-direction: row;

    
.titulo-primer-parrafo-home {
    text-align: end;
    justify-content: right;
    text-decoration: none;
    margin: 1rem;
    width: 30%;
  }
  
    .primer-parrafo-home {
        text-align: justify;
        text-decoration: none;
        margin: 1rem;
        width: 45%;
      }

  }