@import url(https://fonts.googleapis.com);
@import url(https://fonts.gstatic.com);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

$font-familia-roboto:'Roboto', sans-serif;
$color-rosa-ligero-primario:#c76ea9;
$color-violeta-brillante-secundario:#5529ce;
$color-blanco:#fff;
$color-rosa-palido:rgba(243, 207, 243, 0.7);
$color-violeta-suave:#856dae;
$color-rosa-pastel:#dfa0db;
$color-violeta-palido:rgb(205, 197, 211);
$color-violeta-pastel:#715d8b;
$color-font-negro:#64748b;
$color-modal-full:rgb(219, 163, 221);
$color-modal-opacidad:rgba(219, 163, 221, 0.9);
$color-modal-f-h: #bbb;
$color-boder-card:#f2edf8;
$color-background-card:rgba(255, 255, 255, 0.836);
$color-accordion-focus:rgba(230, 58, 221, 0.25);
$color-borde-form:#ccc;

